@charset "utf-8";
/* CSS Document */


.block-on-the-web span.on-the-web{
	display: inline;
	float: left!important;
	display: block!important;
	background: url(../images/social-dock.png) no-repeat bottom!important;
	padding-bottom: 5px!important;
	margin: 0 3px!important;
	text-align: center!important;
	width: 36px!important;
	height: 36px!important;
}
.block-on-the-web span.on-the-web a{
	display: block!important;
	text-align:center!important;
}
.block-on-the-web span.on-the-web a img{
	transition: all linear .3s!important;
	-moz-transition: all linear .3s!important;
	-webkit-transition: all linear .3s!important;
	-o-transition: all linear .3s!important;
	opacity: .7!important;
	filter: alpha(opacity="70")!important;
	margin-top: 6px!important;
	width:18px!important;
	height:18px!important;
}
.block-on-the-web span.on-the-web a:hover img{
	margin-top:3px!important;
	opacity:1!important;
	filter:alpha(opacity="100")!important;
}