/*Reset*/
* {
   padding:0;
   margin:0;
}
/* Selection colours (easy to forget) */

::selection {
	background-color: black;
	color: white;
}
::-moz-selection  {
	background-color: black;
	color: white;
}
img::selection 		{
	background: transparent;
}
img::-moz-selection	{
	background: transparent;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size:100%;
	text-align: left;
	vertical-align: baseline;
	list-style-type:none
}
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}
input[type='text'],input[type='password'],input[type='search'],input[type='email'],input[type='tel'],input.input-field,textarea,select,input[type='submit'],button[type='submit'],input[type='reset'],input[type='button'], #simple-subscription-form input[type='text']{
	transition:all linear .3s;
	-webkit-transition:all linear .3s;
	-moz-transition:all linear .3s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline:none;
	
}
textarea:focus,input[type='text']:focus,input[type='password']:focus,input[type='search']:focus,input[type='email']:focus,input[type='tel']:focus,input.input-field:focus{
	background-color:#FFF;
	background-image:none;
	outline:none;	border-color:#D62831;
	box-shadow:0 0 5px #D62831;
	-moz-box-shadow:0 0 5px #D62831;
	-webkit-box-shadow:0 0 5px #D62831;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	margin-top:0;
}
input[type='text'],input[type='password'],input[type='search'],input[type='email'],input[type='tel'],input.input-field, textarea, #simple-subscription-form input[type='text']{
	background:#fafafa;
	background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fafafa 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fafafa 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fafafa 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(top, #fafafa 0%,#ffffff 100%); /* W3C */
	border: 1px solid #D8D8D9;
	margin:5px 5px 5px 0;
	display: inline-block;
	/*float: left;*/
	-moz-box-shadow:0 1px 0 #FFF,0 1px 0 #FFF inset;
	box-shadow:0 1px 0 #FFF,0 1px 0 #FFF inset;
	-webkit-box-shadow:0 1px 0 #FFF,0 1px 0 #FFF inset;	
	text-shadow:0 1px 0 #FFF;
	padding: 8px 10px 8px;
	color: #777!important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
input[type='submit'],button[type='submit'],input[type='reset']{
	padding: 6px 10px;
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 12px;*/
	font-weight: normal;
	display:inline-block;
	margin:5px 5px 5px 0;
	cursor:pointer
}
input[type='submit'],button[type='submit']{
	border:none !important;
	outline:none
}
select{
		margin-top:0 !important;
	padding-right:30px !important;
	height:auto !important;
	-webkit-appearance: button;
	-moz-appearance: none;
	appearance:button;
	padding-top:4px;
	padding-bottom:4px;
	background-image: url("../images/ui-select.png"),-webkit-linear-gradient(#fff, #f2f2f2);					
	background: url("../images/ui-select.png"),-webkit-linear-gradient(#fff, #f2f2f2);
	background: url("../images/ui-select.png"),-moz-linear-gradient(#fff, #f2f2f2) ;
	background: url("../images/ui-select.png"),-o-linear-gradient(#fff, #f2f2f2);
	background: url("../images/ui-select.png"),-ms-linear-gradient(#fff, #f2f2f2);
	background: url("../images/ui-select.png"),linear-gradient(#fff, #f2f2f2);
	background-repeat:no-repeat;
	background-position: center right;	
	-webkit-padding-end: 20px;
	-webkit-padding-start: 8px;	
	margin:0 5px 0 0;	
	border-width: 1px;
	border-style: solid;
	color: #555;
	border-color:#CCC;
	-moz-box-shadow: -1px -1px 0 #FFF inset, 0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: -1px -1px 0 #FFF inset, 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: -1px -1px 0 #FFF inset, 0 1px 3px rgba(0,0,0,0.1);

	position:relative;
	text-shadow: white 0 1px 0;
}
select:disabled {
	opacity:.5	
}

select:enabled:hover {
  background-image: url("../images/ui-select.png"),
                     -webkit-linear-gradient(#fff, #e6e6e6);
  color: #333;
  border-color:#aaa
}

select:enabled:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  background-image: url("../images/ui-select.png"),
                     -webkit-linear-gradient(#fff, #e6e6e6);
  color: #444;
  border-color:#666
}
select:enabled:focus{
	
	border-color:#D62831;
	box-shadow:0 0 5px #D62831;
	-moz-box-shadow:0 0 5px #D62831;
	-webkit-box-shadow:0 0 5px #D62831;
}
small{
	text-transform:uppercase;
	font-size:10px;
}
em{
	font-style:italic;
}
body{
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	color:#777
}
a img {
	border: 0;
}

a:link,a:visited{
}
a:hover{
	
}
a:active{
}

::-webkit-input-placeholder {
   color: #CCC;
}
::-webkit-input-placeholder:focus {
   color: #CCC;
}

:-moz-placeholder {
   color: #CCC
}

a img {border:none;}	

table {border-collapse: collapse;border-spacing:1px}
q:before, q:after, blockquote:before, blockquote:after {content: "";}

h1{
	font-size:30px;
	line-height:40px;
	margin-bottom:35px;
}
h2{
	font-size:26px;
	line-height:35px;
	margin-bottom:30px;
}
h3{
	font-size:22px;
	line-height:30px;
	margin-bottom:20px;
}
h4{
	font-size:20px;
	line-height:25px;
	margin-bottom:20px;
}
h5{
	font-size:16px;	
	line-height:25px;
	margin-bottom:15px;
}
h6{
	font-size:13px;
	line-height:25px;
	margin-bottom:10px;
	
}
p{
	margin-top:0;
	margin-bottom:20px;
	font-family:Arial, Helvetica, sans-serif;
}
.float-right,.floatright{
	float:right !important
}
.float-left,.floatleft{
	float:left !important
}
.clear ,br.clear,div.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


ol li{
	list-style: decimal inside;	
}