@charset "utf-8";
/* CSS Document */

/*
	MD Responsive Framework
	
*/

img{
	/*max-width:100%;
	height:auto;
	display:block*/
}

/* Default Layout - width : 960px 
/* Columns: 16
-------------------------------------------------------------------------------*/

body {
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

.md-container,.fixed-width-wrapper{ 
	position: relative;
	width: 960px;
	margin: 0 auto;
	padding: 0;
}


/* Tablet Portrait
/* Columns: 16
-------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
.md-container,.fixed-width-wrapper{
	width:748px;
}
h1,h2,h3,h4,h5,h6{
	overflow:hidden
}
}

/* #Mobile Portrait
-------------------------------------------------------------------------------*/
@media only screen and (max-width: 479px) {
h1,h2,h3,h4,h5,h6{
	overflow:hidden
}
.md-container,.fixed-width-wrapper{
	width:300px;
}
.one-half,
.one-third,
.one-fourth,
.one-fifth,
.one-sixth,
.two-third,
.two-fourth,
.two-fifth,
.two-sixth,
.three-fourth,
.three-fifth,
.three-sixth,
.four-fifth,
.four-sixth,
.five-sixth
{			width:300px;margin-right:0;margin-left:0}
	
}


/* #Mobile Landscape
-------------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
h1,h2,h3,h4,h5,h6{
	overflow:hidden
}
.md-container,.fixed-width-wrapper{
	width:440px;
}
.one-half,
.one-third,
.one-fourth,
.one-fifth,
.one-sixth,
.two-third,
.two-fourth,
.two-fifth,
.two-sixth,
.three-fourth,
.three-fifth,
.three-sixth,
.four-fifth,
.four-sixth,
.five-sixth{			width:440px	;margin-right:0;margin-left:0}
	
}