@charset "utf-8";
/* CSS Document */

/*Css frameword*/
.float-left{
	float:left
}
.float-right{
	float:right
}
.overflow-hidden{
	overflow:hidden
}

.full-width-wrapper,.fixed-width-wrapper{
	clear:both;
	height:auto;
	min-height:1px;
}

.full-width-wrapper{
	width:100%;
}

.fixed-width-wrapper{
	width:960px;
	margin:0 auto
}
/*Short Code*/
blockquote{
	padding:10px 10px 10px 20px!important;
	border-left-width:5px!important;
	border-left-style:solid!important;
	font-style:italic!important;
	display:block;
	clear:both;
	margin:10px 0!important;
	overflow:hidden;
	background:#FFF;
	
}
.img-border{
	background-color:#FFF;
	padding:5px;
	border:1px solid #e5e5e5;
	display:block;
	
	width:auto;
	max-width:100%;
	height:auto;
	overflow:hidden;
	box-shadow:0 1px 5px rgba(0,0,0,.05);
	-moz-box-shadow:0 1px 5px rgba(0,0,0,.05);
	-webkit-box-shadow:0 1px 5px rgba(0,0,0,.05);
}
.img-border img{
	float:left
}

.img-border:hover{
	border-color:#ccc;
	box-shadow:0 1px 5px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px 5px rgba(0,0,0,.2);
	-webkit-box-shadow:0 1px 5px rgba(0,0,0,.2);
}
.border-frame{
	overflow:hidden;
	background-color:#FFF;
	padding:7px;
	margin-bottom:15px;
	border:1px solid #e5e5e5;
	box-shadow:0 1px 5px rgba(0,0,0,.05);
	-moz-box-shadow:0 1px 5px rgba(0,0,0,.05);
	-webkit-box-shadow:0 1px 5px rgba(0,0,0,.05);

}
.border-frame .alignnone,.border-frame .alignleft,.border-frame .alignright{
	margin-bottom:0 !important
}
.border-frame > img,.border-frame > a > img{
	display:block
}
.border-frame img, .img-border img{
	margin:0 !important;
	padding:0 !important
}
.border-frame object,.border-frame iframe{
	float:left
}
blockquote p{
}
.clear{
	clear:both !important;
}

.sp,.sp.light, hr{
	background-image:url(../images/sp.png);
	background-repeat:repeat-x;
	background-color:transparent;
	background-position: center top;

	margin-top:25px;
	margin-bottom:25px;
	height:2px;
	font-size:0;
	display:block;
	overflow:hidden;
	clear:both
}

.sp.back-top{
	overflow:visible !important;
	position:relative;
	text-indent:-9999px;
	font-size:10px;
}
.sp.back-top .back-to-top{
	font-size:10px;
	text-transform:uppercase;
	position:absolute;
	width:30px;
	height:15px;
	border:1px solid #FFF;
	box-shadow:0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);
	
	background: #fcfcfc url("../images/btt.png") no-repeat center;
	background: url("../images/btt.png") no-repeat center,-moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
	background: url("../images/btt.png") no-repeat center,-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
	background: url("../images/btt.png") no-repeat center,-webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 100%) ; /* Chrome10+,Safari5.1+ */
	background: url("../images/btt.png") no-repeat center,-o-linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
	background: url("../images/btt.png") no-repeat center,linear-gradient(top, #ffffff 0%,#f3f3f3 100%); /* W3C */
	right:10px;
	/*top:-8px;*/
	top:-2px;
	cursor:pointer
}
.ie .sp.back-top .back-to-top{
	background: #FAFAFA url("../images/btt.png") no-repeat center; /* Old browsers */
}
.sp.smallmargin{
	margin-top:20px;
	margin-bottom:20px;
}
.sp.largemargin{
	margin-top:35px;
	margin-bottom:35px;
}
.sp.dark{
	background-image:url(../images/sp-dark.png)
}

.sp.pattern,.sp.heading{
	background:url(../images/light-heading-sp.png) repeat-x bottom transparent;
	height:6px;
	margin:30px 0;
	overflow:hidden;
	clear:both;
	font-size:0;
}
.sp.shadow{
	height:53px;
	margin-bottom:20px;
	overflow:hidden;
	width:100%;
	background:none !important;
	margin-top:0;
}
.sp.nomargintop{
	margin-top:0 !important
}
code{
	display:block;
	font-family:"Courier New", Courier, monospace;
	font-style:normal;
}
div .first{
	margin-left:0px;
	clear:left;
}
.fullwidth{
	width:100%;
	margin-bottom:30px;
	display:block !important;
	position:relative !important;
}
.one-half,.one-third,.one-fourth,.one-fifth,.one-sixth,.two-third,.two-fourth,.two-fifth,.two-sixth,.three-fourth,.three-fifth,.three-sixth,.four-fifth,.four-sixth,.five-sixth{
	margin-bottom:20px;
	float:left;
	margin-left:4%;
	display:block !important;
	position:relative !important;
	/*overflow:hidden;*/
	/*background:#FFF*/
}
.one-half{
	width: 48%;
}
.one-third{
	width:30.65%;
}
.one-fourth{
	width: 22%;
	*width: 21.8%;
}
.one-fifth{
	width: 16.8%;
	*width: 16.78%;
}
.one-sixth{
	width:13.25%
}
.two-third{
	width:65.35%
}
.two-fourth{
	width:48%
}
.two-fifth{
	width:37.6%
}
.two-sixth{
	width:30.5%
}
.three-fourth{
	width:74%;
}
.three-fifth{
	width:58.4%;
}
.three-sixth{
	width:48%
}
.four-fifth{
	width:79.2%
}
.four-sixth{
	width:65.5%
}
.five-sixth{
	width:82.75%
}
.drop-cap{
	width:40px;
	height:40px;
	margin:5px 15px 10px 0;
	float:left;
	background:#454545;
	text-align:center;
	color:#FFF;
	font-size:25px;
	font-weight:bold;
	line-height:40px;	
	border-radius:10%;
	-moz-border-radius:10%;
	-webkit-border-radius:10%;
}

.drop-cap.circle{	
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
.drop-cap.letter{
	background:none;
	font-size:50px;
	color:#555
}
.drop-cap.primary{
	background:#D62831;
}
span.quote{
	background:url(../images/quote.png) no-repeat;
	display:block;
	width:24px;
	height:18px;
	text-indent:-9999px;
	float:left;
	margin:5px 20px 10px 0;
	
}


/*==========================Tabs and Toggles===============================*/

/*Toggle & Accordion*/
.m-simple-accordion dt,.m-simple-toggle dt,.m-simple-tabs dt{
	-moz-box-shadow: -1px -1px 0 #FFF inset;
	-webkit-box-shadow: -1px -1px 0 #FFF inset;
	box-shadow: -1px -1px 0 #FFF inset;
}
.m-simple-accordion dt,.m-simple-toggle dt{
	cursor:pointer;
	font-weight:bold;
	background-color
	text-shadow:0 1px 0 #FFF;
	position:relative;
	border:1px solid #D8D8D8;
	border:1px solid rgba(0,0,0,.1);
	margin-bottom:-1px
}
.m-simple-accordion dt span,.m-simple-toggle dt span{
	margin:8px 10px 8px 5px;	
	background-image:url(../images/s-expand.png);
	background-repeat:no-repeat;
	background-position:0px center;
	padding-left:35px;
	display:block;
}
.m-simple-accordion dd,.m-simple-toggle dd{
	clear:both;
	border:1px solid #D8D8D8;
	border:1px solid rgba(0,0,0,.1);
	margin-bottom:-1px;
	background-color:#fafafa
	
}
.m-simple-accordion dd > div,.m-simple-toggle dd > div,.m-simple-tabs dd > div{
	margin:10px;
	overflow: hidden;
}
.m-simple-accordion dt.active,.m-simple-toggle dt.active{
	color:#555;
	background:#FFF
}
.m-simple-accordion dt.active span,.m-simple-toggle dt.active span{
	background-image:url(../images/s-collapse.png);
}
.m-simple-accordion dd.active,.m-simple-toggle dd.active{
	
	background:#fafafa
}
/*.m-simple-accordion dt .sign:before,.m-simple-toggle dt .sign:before{
	content:"";
	position: absolute;
	width:25px;
	height:21px;
	top:0px;
	left:0px;
	border-right:1px solid #d9d9d9
}*/
.m-simple-accordion dt.active .sign,.m-simple-toggle dt.active .sign{
	background-position:0 0
}
/*Tabs*/

.m-simple-tabs{
	position:relative;
}

	
.m-simple-tabs dt:first-child{
}
.m-simple-tabs dt{
	padding:8px 10px;
	background-color:#fafafa;
	cursor:pointer;
	text-shadow:0 1px 0 #FFF;
	float:left;
	font-weight:bold;
	display:inline;
	border-bottom-width:0;
	position:relative;
	border:1px solid #D8D8D8;
	border:1px solid rgba(0,0,0,.1);
	margin-left:-1px;

}
.m-simple-tabs dt:first-child{
	margin-left:0;
}
.m-simple-tabs dd{
	width:100%;
	position:absolute;
	background-color:#fafafa;
	left:0;
	z-index:1;
	border:1px solid #D8D8D8;
	border:1px solid rgba(0,0,0,.1);
}

.m-simple-tabs dt.active{
	background:#FFF;
	z-index:2 !important;
	
	border-bottom:none
}


/*Typography*/
.alignright, .alignright img{
	float:right;
	margin:5px 0 25px 25px 
}
.alignleft, .alignleft img{
	float:left;
	margin:5px 25px 25px 0
}
div.alignright, div.alignleft{
	margin:0px!important;
}
.one-third div.alignleft{
	margin:5px 25px 25px 0!important;
}
.one-third div.alignright{
	margin:5px 0 25px 25px!important;
}
.aligncenter{
	margin:5px auto 25px auto;
	overflow:hidden;
	float:none;
	clear:both;
}
img.aligncenter{
	display:block
}
.alignnone{
	clear:both;
	margin:5px 25px 25px 0 
}

.align-none,.align-left,.align-right{
	margin-bottom:15px;
}

.wp-caption {
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 0 10px;
    text-align: center;
	background-color:#FFF;
	border:1px solid #e5e5e5;
	display:block;
	overflow:hidden;
	box-shadow:0 1px 5px rgba(0,0,0,.05);
	-moz-box-shadow:0 1px 5px rgba(0,0,0,.05);
	-webkit-box-shadow:0 1px 5px rgba(0,0,0,.05);
}
.wp-caption.alignnone,.wp-caption.alignleft {
    margin:5px 25px 25px 0
}
.wp-caption.alignright {
	margin:5px 0 25px 25px
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin:0;
    padding:0;
    width: 100%;
}
.wp-caption p.wp-caption-text {
	text-align:center;
	font-style:italic;
	margin-bottom:0;
}
/*table*/
table.m-table{
	background:#FAFAFA;
	border-radius:5px;
	width:100%;
}
table.m-table td, table th{
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
	
}
table.m-table tbody th{
	padding-left:15px;
	padding-right:15px
}
table.m-table thead tr th.first-child{
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}

table.m-table tbody tr th.first-child{
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}

table.m-table thead tr th.last-child{
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}
table.m-table tbody tr th.last-child{
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
}


table.m-table tbody tr td{
	background:#FFF;
	border-bottom:1px solid #E5E5E5;
	border-right: 1px solid #E5E5E5;
	box-shadow:inset 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 0 #FFF;
}
table.m-table tbody tr td.first-child{
	border-left: 1px solid #E5E5E5;
}	
table.m-table{	
	-moz-box-shadow:0 2px 2px rgba(0,0,0,0.05);
    box-shadow:0 2px 2px rgba(0,0,0,0.05);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.05);

}
table.m-table thead th,table.m-table tbody tr th{
	background: #565656; /* Old browsers */
	background: -moz-linear-gradient(top, #565656 0%, #454545 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#454545)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #565656 0%,#454545 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #565656 0%,#454545 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #565656 0%,#454545 100%); /* IE10+ */
	background: linear-gradient(top, #565656 0%,#454545 100%); /* W3C */
	color:#FFF;
	font-weight:bold;
	box-shadow:inset 0 1px 0 #000,inset 0 2px 0 rgba(255,255,255,0.1);
	-webkit-box-shadow:inset 0 1px 0 #000,inset 0 2px 0 rgba(255,255,255,0.1);
	-moz-box-shadow:inset 0 1px 0 #000,inset 0 2px 0 rgba(255,255,255,0.1);
}
table.m-table thead th{
	padding:20px 15px;
}
table.m-table thead th{
	padding:15px;
}
table.m-table tbody tr.alternate > td{
	background:#FAFAFA;
}
/*Nortification*/

.md-notification { 
	position:relative !important; 
	border:1px solid #e5e5e5; 
	background-position:10px 13px !important; 
	background-repeat:no-repeat !important; 
	font-size:13px;
	margin:0 0 15px;
	
	padding:10px 10px 10px 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
}  
	
.md-notification.yellow{ 
	background:#fffbcc url(../images/exclamation.png); 
	border-color:#e6db55; 
	color:#b19c1c
}  
.md-notification.blue { 
	background:#dbe3ff url(../images/information.png); 
	border-color:#a2b4ee;
	color:#455a9a 
}  
.md-notification.green{ 
	background:#d5ffce url(../images/tick_circle.png); 
	border-color:#9adf8f;
	color:#11b422
}  
.md-notification.red { 
	background:#ffcece url(../images/cross_circle.png); 
	border-color:#df8f8f; 
	color:#aa1111
}

.md-notification.light { 
	background:#fafafa url(../images/comment.png); 
}  
.md-notification .close { 
	text-indent:-9999px;
	font-size:0; 
	position:absolute; 
	right:3px; 
	top:5px; 
	width:10px;
	height:10px;
	display:block;
	background:url(../images/cross_grey_small.png) no-repeat;
}

/*Button*/
.md-button.shiny{
	background-image:url(../images/light-overlay.png);
	background-repeat:repeat-x;
	background-position:center -5px;
}
.md-button,input.md-button{
	overflow:hidden;
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(../images/button-light.png);
	background-color: #f2f2f2;
	border-color: #d3d3d3;
	background-repeat: repeat-x;
	background-position: 0 top;
	padding:0 15px;
	text-decoration: none;
	display:inline-block;
	white-space:nowrap;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	line-height: 28px;	
	text-shadow:0 1px 0 rgba(255,255,255,.5);
	position: relative;
	margin:5px 5px 5px 0;
	box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow:0px 1px 1px rgba(0,0,0,0.1);
	-moz-transition:all linear .2s;
	-webkit-transition:linear .2s;
	transition:all linear .2s;
	-o-transition:all linear .2s;
}
.md-button:hover,input.md-button:hover{
	opacity:.7
}
.md-button img{
	vertical-align:middle;
}
.md-button:active,input.md-button:active{
	box-shadow:0 1px 0 #FFF, inset 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow:0 1px 0 #FFF, inset 0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 1px 0 #FFF, inset 0 1px 3px rgba(0,0,0,0.1);
	background-image:none;
	background-color:transparent;
	opacity:1
}
a.md-button{
	color:#787878
}
.md-button.rounded{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
.md-button.light{
	color:#787878 !important;
}
.grey,.red,.orange,.green,.blue,.purple,.aqua,.teal{
	text-shadow:0 1px 0 rgba(255,255,255,.5);
}
.md-button.grey{
	background-color:#b3b3b3;
	border-color:#8f8f8f;
	color:#555555
}
.md-button.red{
	background-color:#f56c7e;
	border-color:#d55061;
	color:#903844
}
.md-button.yellow{
	background-color:#FFD62C;
	border-color:#cba711;
	color:#5f5723
}
.md-button.orange{
	background-color:#fec151;
	border-color:#d6982f;
	color:#996633
}
.md-button.green{
	background-color:#a1f983;
	border-color:#7ce558;
	color:#567d49
}
.md-button.blue{
	background-color:#7ad2f4;
	border-color:#63abc7;
	color:#42788e
}
.md-button.purple{
	background-color:#d89dd2;
	border-color:#a1799d;
	color:#7b5777
}
.md-button.aqua{
	background-color:#9be9ec;
	border-color:#65b6ba;
	color:#437b7d
}
.md-button.teal{
	background-color:#92a9ba;
	border-color:#6f818f;
	color:#515f6a
}
.md-button.dark{
	background-color:#555;
	border-color:#1f1f1f;
	color:#FFF;
	text-shadow:0 1px 0 rgba(0,0,0,0.8);
}

.md-button:hover{
	text-decoration:none;
}
.md-button img.align-left,.md-button img.alignleft{
	float:left;
	margin:6px 10px 0 0
}
.md-button img.align-right,.md-button img.alignright{
	float:right;
	margin:6px 0 0 10px
}
.md-button img{
	margin-right:10px;
}
.md-button.medium{
	padding:5px 15px;
	font-size:14px
}
.md-button.left{
	float:left;
	margin-right:15px;
}
.md-button.large{
	padding:10px 15px;
	font-size:16px;
}



/*Dropdown*/

.ie7 .m-menu{
	width:auto
}
.m-menu ul{
	list-style-type: none;
	
	
}
.m-menu ul li{
	position: relative;
	z-index:9999;
	display: inline;
	float: left;
	padding:0;
	margin:0px;
	

}
li.expanded div ul li a{
	text-indent:inherit!important;
	width:100%;
	height:22px;
	background:none!important;
}
.m-menu  ul > li:hover > a{
    color:#FFF;
	text-decoration:none;
	
}

.m-menu ul > li.menu-item-home > a, .m-menu ul:first-child > li:first-child > a{
	text-indent:-9999px;
	width:25px;
	height:22px;
	background:url(../images/icon-home.png) no-repeat center 10px;

}
.m-menu ul:first-child > li:first-child > a:hover, .m-menu ul:first-child > li.current_page_item a.active{
	background-position:center -29px;
}
.m-menu ul > li.menu-item-home.current > a,.m-menu ul > li.menu-item-home:hover > a,.m-menu ul > li.menu-item-home.current-menu-item > a{
	background-position:center -30px  !important
}

.m-menu ul > li:first-child{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.m-menu ul > li {
	transition:color,background-color,text-shadow linear .2s;
	-moz-transition:color,background-color linear .2s;
	-webkit-transition:color,background-color linear .2s;
	-o-transition:color,background-color linear .2s;
	background-image:url(../images/light-overlay.png);
	background-repeat:repeat-x;
	background-position:left -100px;
	/*text-shadow:0 1px 0 #FFF;*/

}
.m-menu ul li a{
	padding:9px 15px;
	display: block;
	color:#777;

	
}
.m-menu ul > li:hover{
	background-color:#555;
	background-position:left 3px;
	/*text-shadow:0 1px 0 rgba(0,0,0,0.3);*/
}

.m-menu  ul > li.current,.m-menu  ul > li.current-menu-item,.m-menu  ul > li.current_page_item,.m-menu ul > li.current-menu-ancestor,.m-menu ul > li.current-menu-parent, .m-menu ul > li.active, .m-menu ul > li.active-trail{
	background-color:#d62831;
	background-position:left 3px;
	box-shadow: inset 0 1px 0 rgba(0,0,0,.2), inset 0 -1px 0 rgba(0,0,0,.2), inset -1px 0 0 rgba(0,0,0,.1), inset 1px 0 0 rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,.2), inset 0 -1px 0 rgba(0,0,0,.2), inset -1px 0 0 rgba(0,0,0,.1), inset 1px 0 0 rgba(0,0,0,.1);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,.2), inset 0 -1px 0 rgba(0,0,0,.2), inset -1px 0 0 rgba(0,0,0,.1), inset 1px 0 0 rgba(0,0,0,.1);

}
.m-menu  ul > li.current > a,.m-menu  ul > li.current-menu-item > a,.m-menu  ul > li.current_page_item > a,.m-menu ul > li.current-menu-ancestor > a,.m-menu ul > li.current-menu-parent > a{

    color:#FFF;
	text-shadow:0 1px 0 rgba(0,0,0,0.3);
}
.m-menu ul li span.sub-nav{
	background:url(../images/drop-down-arr.png) no-repeat 0 0;
	width:9px;
	height:9px;
	overflow:hidden;
	position:absolute;
	right:6px;
	top:16px;
	text-indent:-9999px
}

.m-menu ul > li a.parent{
	padding-right: 25px;
	position:relative
}
.m-menu > div > ul:first-child > li > a.parent{
	padding-right:25px
}
/*Level 2*/
.m-menu ul li div{
	position: absolute;
	z-index:9998;
	left: 0;
	
	
	width:210px;
	box-shadow:0px 5px 10px rgba(0,0,0,0.1),inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF;
	-moz-box-shadow:0px 5px 10px rgba(0,0,0,0.1),inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF;
	-webkit-box-shadow:0px 5px 10px rgba(0,0,0,0.1),inset 1px 1px 0 #FFF,inset -1px -1px 0 #FFF;
}

.m-menu ul li ul{
	/*display: none;*/ /*collapse all sub menus to begin with*/
	/*visibility: hidden;*/
	display:none;
	float:left;
}

ul.simple-drop-down-menu li ul li a span{
	background-position:0 -9px;
	top:10px;
}
.m-menu ul li ul li{
	background:#fbfbfb !important;
	width:210px;
	border-bottom:1px solid #f2f2f2;
	border-top:1px solid #fff;
	display:list-item;
	margin-right:0;
	transition:none !important;
	-moz-transition:none !important;
	-webkit-transition:none !important;
	list-style:none;
	margin:0px;
}
.m-menu ul li ul li:last-child{
	border-bottom:none
}

.m-menu ul li ul li a{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	padding:8px 10px;
	display:block;
	border-left:0px solid transparent
	
}
.ie7 .m-menu ul li ul li a{
	
	height:22px;
}
.m-menu ul:first-child li.current-menu-parent ul li.current-menu-item.current_page_item > a,
.menu li.active-trail div ul li.active-trail a,

.m-menu ul li ul li:hover > a,.m-menu > ul > li.current_page_parent ul li a,
.m-menu > ul > li.current-menu-ancestor ul li.current_page_item a,.m-menu ul ul li.current-menu-item a,
.m-menu > ul > li.current-menu-parent ul li.current-menu-item a,.m-menu ul li ul li.current-menu-ancestor > a,.m-menu ul li ul li.current-menu-ancestor .current-menu-item > a,.m-menu ul ul li.current-post-ancestor a{
	border-left:5px solid #565656!important;
    background-color:#FFF!important;
    color:#787878!important;
	padding-left:10px!important;
	text-shadow:none!important;
}
.m-menu ul li ul li:hover{
	background:#FFF;
}
.m-menu ul li ul li a .sub-nav{
	background-position:0 -9px;
	top:10px;
}
.m-menu ul li ul li a:hover{
	background:#FFF;
	text-decoration:none;
}
.m-menu ul li ul li div{
	left:100.5%;
	top:-1px;
	
}
/*Vertical*/
.m-menu.vertical ul li{
	display:list-item !important;
	float:none !important
}
.m-menu.vertical ul li div{
	left:100%;
	margin-left:1px;
	top:0;
	
	width:200px
}
.form-row{
	padding:10px 0
}


.icon-boxes-wrapper .icon-icon,.icon-boxes-wrapper2 .icon-icon{
	float:left;
	margin-right:15px;
}
.icon-boxes-wrapper .icon-content{
	padding-top:5px;
	overflow:hidden
}

.icon-boxes-wrapper2 .icon-header div h4.icon-heading{
	margin-bottom:5px !important;
}
.icon-boxes-wrapper2 .icon-header div p{
	font-size:11px;
}
.icon-boxes-wrapper2 .icon-content{
	padding-top:20px;
	background:url(../images/sp.png) top repeat-x;
	overflow:hidden
}

/*List*/

ul.md-list li:first-child{
	border-top:none !important
}
ul.md-list li:last-child{
	border-bottom:none !important
}
ul.md-list li{
	background-repeat:no-repeat;
	background-position: left 12px;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid rgba(255,255,255,.8);
	border-bottom:1px solid rgba(0,0,0,.1);
}
.bullet li,.star li,.tick li,.bubble li,.doc li,.info li,.arrow li,.plus li,.cross li{
	padding-left:25px;
}
ul.md-list.bullet li{
	background-image:url(../images/list-bullet.png)
}
ul.md-list.star li{
	background-image:url(../images/list-star.png)
}
ul.md-list.tick li{
	background-image:url(../images/list-tick.png)
}
ul.md-list.bubble li{
	background-image:url(../images/list-bubble.png)
}
ul.md-list.doc li{
	background-image:url(../images/list-doc.png)
}
ul.md-list.info li{
	background-image:url(../images/list-info.png)
}
ul.md-list.arrow li{
	background-image:url(../images/list-arrow.png)
}
ul.md-list.plus li{
	background-image:url(../images/list-plus.png)
}
ul.md-list.cross li{
	background-image:url(../images/list-cross.png)
}

ul.list-news li{
	padding-top:20px;
	padding-bottom:15px;
	overflow:hidden
}
ul.list-news li:first-child{
	padding-top:0px !important
}
ul.list-news li p{
	margin-bottom:10px
}
ul.list-news li .alignleft{
	margin-bottom:5px
}
.carousel-flexslider h4,.carousel-flexslider h5{
	margin-bottom:0
}
.ie8 .carousel-flexslider ul li .img-border{
	float:none !important /*IE8 Sucks !*/
	
}

.carousel-flexslider.flexslider.four-cols .slides li,.carousel-flexslider.flexslider.three-cols .slides li{
	margin-right:38px
}
/*Pricing table*/
.md-pricing-table{
	margin:50px 0;
	display:table;
	width:100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.md-pricing-table *{
	transition:all .3s linear;
	-moz-transition:all .3s linear;
	-webkit-transition:all .3s linear;
}
.md-pricing-table.three-columns .pt-column{width:33.3%;}
.md-pricing-table.four-columns .pt-column{width:25%;}
.md-pricing-table.five-columns .pt-column{width:20%;}
.md-pricing-table.six-columns .pt-column{width:16.6%;}
.md-pricing-table .pt-column{
	float:left;	
	z-index:1;
	position:relative;
	text-align:center;
	background:#FAFAFA;
	padding-bottom:0px !important;
	box-shadow:0 1px 2px rgba(0,0,0,.1);
}
.md-pricing-table .pt-column *{
	text-align:center
}
.md-pricing-table .pt-column.pt-features-list *{
	text-align:left;
}
.md-pricing-table .pt-column.pt-features-list ul li,.md-pricing-table .pt-column.pt-features-list .pt-heading > *,.md-pricing-table .pt-column ul li{
	padding-left:20px;
	padding-right:20px;
}

.md-pricing-table .pt-column .pt-heading h1,.md-pricing-table .pt-column .pt-heading h1 *,.md-pricing-table .pt-column .pt-heading h5,.md-pricing-table .pt-column .pt-heading h5 *{
	color:#FFF;
	text-shadow:0 1px 0 rgba(0,0,0,.3)
}
.md-pricing-table .pt-column .pt-heading h1,.md-pricing-table .pt-column .pt-heading h5{
	background-color: #454545;
	margin-bottom:0;
	padding:10px 0
}
.md-pricing-table .pt-column .pt-heading h5 {
	
	background-image:url(../images/light-overlay.png);
	padding:3px 0;
	background-position:center -8px;
	font-size:12px;
	box-shadow:0 1px rgba(0,0,0,.2);
	-moz-box-shadow:0 1px rgba(0,0,0,.2);
	-webkit-box-shadow:0 1px rgba(0,0,0,.2);
	position:relative;
	z-index:3;
	text-transform:uppercase
}
.md-pricing-table .pt-column.pt-featured-col .pt-heading h1{
	background-image: url(../images/top-abstract-bg.png);
	background-repeat: no-repeat;
	background-position:-450px top
}
.md-pricing-table .pt-column.pt-featured-col .pt-heading h5{
	
	background-position:center top;
	padding:10px 0;
	font-size:16px;
	margin-top:-14px;
}
.md-pricing-table .pt-column.pt-featured-col .pt-heading h5{
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.md-pricing-table .pt-column:last-child,.md-pricing-table .pt-column:last-child .pt-heading h5{
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}
.md-pricing-table .pt-column:first-child,.md-pricing-table .pt-column:first-child .pt-heading h5{
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}
.md-pricing-table .pt-column.pt-features-list .pt-heading strong{
	font-size:80%;
	margin-bottom:10px;
	display:block;
	color:#555;
	text-shadow:0 1px 0 #FFF;
}
.md-pricing-table .pt-column.pt-features-list .pt-heading span{
	text-shadow:0 1px 0 #FFF;
	color:#aaa;
	font-style:italic;
	line-height:normal
}
.md-pricing-table .pt-column.pt-features-list .pt-heading h5{
	box-shadow:0 1px 0 #FFF;
	-moz-box-shadow:0 1px 0 #FFF;
	height:25px;
	-webkit-box-shadow:0 1px 0 #FFF;
}
.md-pricing-table .pt-column.pt-features-list .pt-heading h1{
	background:#fafafa
}
.md-pricing-table .pt-column .pt-heading h1{
	height:90px;
}
.md-pricing-table .pt-column .pt-heading h1 strong{
	font-size:150%;
	line-height:130%;
}
.md-pricing-table .pt-column .pt-heading h1 span{
	font-size:14px;
	display:block;
}
.md-pricing-table .pt-column.pt-featured-col .pt-heading h5{
}
.md-pricing-table .pt-column.pt-featured-col,.md-pricing-table .pt-column:hover{
	box-shadow:0 5px 50px rgba(0,0,0,.3);
	-moz-box-shadow:0 5px 50px rgba(0,0,0,.3);
	-webkit-box-shadow:0 5px 50px rgba(0,0,0,.3);
	z-index:2;
	padding-bottom:20px;
}
.md-pricing-table .pt-column:hover{
	margin-top:-5px;
	z-index:3;
}
.md-pricing-table .pt-column.pt-featured-col .pt-heading h1,.md-pricing-table .pt-column.pt-featured-col .pt-heading h5{
	background-color:#D62831;
	
}
.md-pricing-table .pt-column ul li{
	padding-top:10px;
	padding-bottom:10px;
	
	/*border-bottom:1px solid #E9E9E9;*/
}
.md-pricing-table .pt-column.pt-featured-col ul li:last-child{
	padding-bottom:20px;
}
.md-pricing-table .pt-column ul li:nth-child(1),
.md-pricing-table .pt-column ul li:nth-child(3),
.md-pricing-table .pt-column ul li:nth-child(5),
.md-pricing-table .pt-column ul li:nth-child(7),
.md-pricing-table .pt-column ul li:nth-child(9),
.md-pricing-table .pt-column ul li:nth-child(11),
.md-pricing-table .pt-column ul li:nth-child(13),
.md-pricing-table .pt-column ul li:nth-child(15),.md-pricing-table .pt-column ul li.odd{
	background-color:#FFF;
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
.md-pricing-table.three-columns .pt-column{width:50%;}
.md-pricing-table.four-columns .pt-column{width:50%;}
.md-pricing-table.five-columns .pt-column{width:50%;}
.md-pricing-table.six-columns .pt-column{width:50%;}
}
.md-pricing-table .pt-column .button,.md-pricing-table .pt-column .maxx-primary-button,.md-pricing-table .pt-column .md-button{

	overflow:hidden;
	clear:both;
	float:none;
	margin:10px auto !important;
}

@media only screen and (max-width: 479px) {
	.carousel-flexslider{
		width:300px;
	}
}
ul.menu li ul.menu li a{
	width:auto!important;
}
