@charset "utf-8";
/* CSS Document */

/* =Skitter styles
----------------------------------------------- */
/*.box_skitter {position:relative;width:800px;height:300px;background:#000; z-index:10}
.box_skitter_home ,.container_skitter{width:940px;height:370px;}
*/.box_skitter ul {display:none;}
.box_skitter .container_skitter {overflow:hidden;position:relative;}
.box_skitter .image {overflow:hidden;}
.box_skitter .image img {display:none;}

.box_skitter .box_clone {position:absolute;top:0;left:0;width:100px;overflow:hidden;display:none;z-index:20;}
.box_skitter .box_clone img {position:absolute;top:0;left:0;z-index:20;}

.box_skitter .prev_button {position:absolute;top:50%; left:35px;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;}
.box_skitter .next_button {position:absolute;top:50%;right:35px;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;}

.box_skitter .info_slide {position:absolute;top:15px;left:15px;z-index:100;background:#000;color:#fff;font:padding:5px 0 5px 5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;opacity:0.75;}
.box_skitter .info_slide .image_number {background:#333;float:left;padding:2px 10px;margin:0 5px 0 0;cursor:pointer;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.box_skitter .info_slide .image_number_select {background:#cc0000;float:left;padding:2px 10px;margin:0 5px 0 0;}

.box_skitter .container_thumbs {position:relative;overflow:hidden;height:50px;}
.box_skitter .info_slide_thumb {-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;overflow:hidden;height:45px;top:auto;bottom:-5px;left:-5px;padding:5px;opacity:1.0;}
.box_skitter .info_slide_thumb .image_number {overflow:hidden;width:70px;height:40px;position:relative;}
.box_skitter .info_slide_thumb .image_number img {position:absolute;top:-50px;left:-50px}

.box_skitter .box_scroll_thumbs {padding:0 10px;}
.box_skitter .box_scroll_thumbs .scroll_thumbs {position:absolute;bottom:60px;left:50px;background:#ccc;background:-moz-linear-gradient(-90deg, #555, #fff);background:-webkit-gradient(linear, left top, left bottom, from(#555), to(#fff));width:200px;height:10px;overflow:hidden;text-indent:-9999em;z-index:101;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;cursor:pointer;border:1px solid #333;}

.box_skitter .info_slide_dots, .nivo-controlNav {position:absolute;bottom:-40px;z-index:151;padding:5px 0 5px 5px;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;}
.box_skitter .info_slide_dots .image_number {background:#333;float:left;margin:0 5px 0 0;cursor:pointer;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;width:18px;height:18px;text-indent:-9999em;overflow:hidden;}
.box_skitter .info_slide_dots .image_number_select {background:#cc0000;float:left;margin:0 5px 0 0;}

.box_skitter .label_skitter {z-index:80;position:absolute;bottom:0px;left:0px;display:none;}

.loading {position:absolute; top:50%; right:50%; z-index:10000; margin:-16px -16px;color:#fff;text-indent:-9999em;overflow:hidden;background:#FFF no-repeat left top;width:32px;height:32px;}

.label_skitter {z-index:150;position:absolute;bottom:0px;left:0px;color:#fff;display:none;opacity:0.9;background:#000;}
.label_skitter p {padding:5px;margin:0;}
.info_slide * {}

.box_skitter .progressbar { background:#000; position:absolute; bottom:5px;left:10px;height:5px; width: 940px; z-index:99; border-radius:20px; }

/* =Preview slide
----------------------------------------------- */
.preview_slide { display:none; position:absolute; z-index:999; bottom:40px; left:-40px; width:100px; height:40px;border:5px solid #FFF; background:rgba(0,0,0,.5); -moz-box-shadow:rgba(0,0,0,0.7) 0px 0px 10px; -webkit-box-shadow:rgba(0,0,0,0.7) 0px 0px 10px; box-shadow:rgba(0,0,0,0.7) 0px 0px 10px; overflow:hidden; }
.preview_slide ul {width:100px; height:40px; overflow:hidden; margin:0; list-style:none; display:block; position:absolute; top:0; left:0; }
.preview_slide ul li { width:100px; height:40px; overflow:hidden; float:left; margin:0; padding:0; position:relative; display:block; }
.preview_slide ul li img { position:absolute; top:0; left:0; height:40px; width:100px; }

/* =Focus
----------------------------------------------- */
#overlay_skitter { position:absolute; top:0; left:0; width:100%; z-index:9998; opacity:1; background:#000; }

.box_skitter .focus_button {position:absolute;top:50%;z-index:100;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/focus-button.png) no-repeat left top;opacity:0;}
.box_skitter .play_pause_button {position:absolute;top:50%;z-index:151;width:42px;height:42px;overflow:hidden;text-indent:-9999em;margin-top:-25px;background:url(../images/pause-button.png) no-repeat left top;opacity:0;}
.box_skitter .play_pause_button.play_button {background:url(../images/play-button.png) no-repeat left top;}

/* Custom
----------------------------------------------- */

.box_skitter_home{
	background-image:url(../images/preloader-w24.gif);
	background-position:center center;
	background-repeat:no-repeat
}


.box_skitter_home.maxx-theme .prev_button,.box_skitter_home.maxx-theme .next_button,.box_skitter_home.maxx-theme .info_slide_dots, .nivo-controlNav{
	border:1px solid #FFF;
	box-shadow:0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
}

.box_skitter_home.maxx-theme .info_slide {

}
.box_skitter_home.maxx-theme .info_slide_dots, .nivo-controlNav{
	bottom:-15px;
	width:110px;
	left:50% !important;
	margin-left:-63px;
	height:38px;
	padding:0 8px!important;
	z-index:99
}
.box_skitter_home.maxx-theme .info_slide_dots span, .nivo-controlNav a{
	transition:background linear .3s!important;
	-webkit-transition:background linear .3s;
	-moz-transition:background linear .3s;
	
	background-image:url(../images/light-overlay.png)!important;
	background-repeat:repeat-x!important;
	background-position:left -13px!important;
	background-color:#d1d1d1!important;
	color:#777!important;
	-webkit-border-radius: 50%!important;
	-moz-border-radius: 50%!important;
	border-radius: 50%!important;
	border-bottom:1px solid #FFF!important;
	display:block;
	width:10px!important;
	height:10px!important;
	text-indent:-9999px!important;
	float:left!important;
	margin:13px 6px 0 6px!important
}
.box_skitter_home.maxx-theme .info_slide_dots span.image_number_select, .nivo-controlNav a.active{
	background-color:#d62831!important;
	border:none!important;
	width:14px!important;
	height:14px!important;
	margin:11px 3px 0 3px!important;
	box-shadow:inset 1px 0 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.1)!important;
	-webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.1)!important;
	-moz-box-shadow:inset 1px 0 0 rgba(0,0,0,.1),inset -1px 0 0 rgba(0,0,0,.1),inset 0 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.1)!important;
}
.box_skitter_home.maxx-theme .prev_button,.box_skitter_home.maxx-theme .next_button{
	display:block;
	width:75px;
	height:25px;
	line-height:30px;
	/*border:0;*/
	font-size:10px;
	text-transform:uppercase;
	transition:none;
	-webkit-transition:none;
	-o-transition:none;
	-moz-transition:none;
	text-indent:0;
	
	bottom:-8px;
	top:auto;
	
	color:#777;
	z-index:98;
	cursor:pointer;
}
/*.box_skitter_home.maxx-theme .prev_button,.box_skitter_home.maxx-theme .next_button, .nivo-nextNav{
	display:block;
	width:75px!important;
	height:25px!important;
	line-height:30px!important;
	
	font-size:10px!important;
	text-transform:uppercase!important;
	transition:none!important;
	-webkit-transition:none;
	-o-transition:none;
	-moz-transition:none;
	text-indent:0;
	
	bottom:-8px!important;
	top:auto;
	
	color:#777!important;
	z-index:98!important;
	cursor:pointer!important;
}*/
.box_skitter_home.maxx-theme .prev_button:hover,.box_skitter_home.maxx-theme .next_button:hover,.box_skitter_home.maxx-theme .prev_button:active,.box_skitter_home.maxx-theme .next_button:active{
	opacity:1 !important
}
.box_skitter_home.maxx-theme .next_button, .nivo-nextNav{
	right:36.5%!important;
	padding-right:5px!important;
	text-align:right!important;
	line-height:25px!important;
	opacity:1 !important
}
.nivo-nextNav, .nivo-prevNav{
	top:97%!important;
}
.box_skitter_home.maxx-theme .next_button span, .nivo-nextNav{
	padding-right:20px!important;
	background:url(../images/nav-next.png) no-repeat left top!important;
	background-position:right center!important;
	padding-bottom:1px!important;
}
.box_skitter_home.maxx-theme .prev_button, .nivo-prevNav{
	left:36.5%!important;
	padding-left:5px!important;
	text-align:left!important;
	line-height:25px!important;
	opacity:1 !important
}
.box_skitter_home.maxx-theme .prev_button span{
	padding-left:20px;
	background:url(../images/nav-prev.png) no-repeat left top;
	background-position:left center;
	padding-bottom:1px;
}
	
.box_skitter_home.maxx-theme .label_skitter{
	background:#d62831;
	width:70%;
	padding:10px 15px 10px;
	left:50%;
	margin-left:-37%;
	bottom:10%;
	text-align:right;
	height:auto!important;
	
	border-right:10px solid #FFF;
	border-left:10px solid #FFF;
	color:#FFF
}
.box_skitter_home.maxx-theme .label_skitter p{
	padding:0;margin-bottom:5px;
	text-shadow:0 1px 0 rgba(0,0,0,0.3)
}
.progressbar{}

.box_skitter_home.maxx-theme .label_skitter h1{
	margin-top:0;line-height:30px !important;
	text-shadow: 0 1px 0 rgba(0,0,0,.3);
	margin-bottom:10px;
	color:#FFF
}
.box_skitter_home.maxx-theme .label_skitter a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.box_skitter_home.maxx-theme .label_skitter a:hover {
    color:#fff;
}


.box_skitter_home.maxx-theme .info_slide_thumb{
	background-color:#FFF
}
.box_skitter.maxx-theme .info_slide_thumb .image_number{
	margin:5px;
}