@charset "utf-8";

/* CSS Document */





::-webkit-scrollbar-thumb:hover {

	background-color:#A252B1

}

.primary-background-color, .button.button-primary, button.button-primary, input[type="submit"], button[type="submit"], .entry-format:hover, .portfolio-items .featured-image a:before, .porfolio-carousel-flexslider .slides li > * .featured-image a:before, .related-projects .featured-image a:before, .label.bbp-sticky-label, #primary-back-to-top:hover, .search-highlight, #topbar-menu-nav, .search-highlight, .widget_calendar #wp-calendar #today, .primary-srollspy-nav-menu.srollspy-nav-controls li.current-menu-item a, .comment.bypostauthor:before, .mds-dropcap.style-circle-dropcap-primary, .mds-iconbox.style-style2 .iconbox-header img.circle-icon, .mds-features-tabs.with-cirle .mds-features-tabs-header li.active a img, .mds-features-tabs .mds-features-tabs-trigger.with-cirle.active a img, .mds-features-tabs.with-cirle .mds-features-tabs-header li.active a i, .mds-features-tabs .mds-features-tabs-trigger.with-cirle.active a i, .flexslider.mds-flexslider-slider .mflex-control-nav li a.mflex-active, .mds-progress-bar.primary-color, .testimonial-avatar-paging li a.mflex-active span, .yeah-slider .rev_slider_wrapper .tp-bullets.simplebullets.navbar .bullet.selected, .flexslider.content-flexslider .flex-control-paging li a.flex-active, #top-info-bar, #page-section-block-6 {

	background-color:#A252B1

}

.primary-color, .primary-2-secondary a, a.primary-2-secondary, .primary-2-white a, a.primary-2-white, .secondary-2-primary a:hover, a.secondary-2-primary:hover, .tertiary-2-primary a:hover, a.tertiary-2-primary:hover, .default-2-primary a:hover, a.default-2-primary:hover, .white-2-primary a:hover, a.white-2-primary:hover, .mds-tabs-wrapper dt.active a, .mds-toggles-wrapper dt.active a, .mds-accordion-wrapper dt.active a, .mds-dropcap.style-letter-dropcap-primary, .mds-social-networks .light.with-description li a:hover, .portfolio-filter li a:hover, .portfolio-filter li a.active, .mds-filterable-portfolio h3 a:hover, .mds-portfolio-carousel h3 a:hover, .mds-features-tabs .mds-features-tabs-header li.active a, .mds-features-tabs .mds-features-tabs-trigger a:hover, .mds-features-tabs .mds-features-tabs-trigger.active a, .mds-single-post .entry-title h3 a:hover, .mds-pricing-table .pt-column .pt-heading h1 strong, .mdw-accordion-widget li span a, .mdw-tabby-widget li span a, .mdw-twitter-widget li a, .widget_display_topics .topic-author a, .widget_display_replies a.bbp-author-name, .widget_rss li a, .widget_recent_comments ul li a:first-child, .mdw-tabby-widget-wrapper .mdw-tabby-title li.active a, .mdw-post-widget-with-calendar li a, .mdw-latest-portfolio-widget article .porfolio-tax a, .mdw-childpages-widget ul li.current_page_item a, .m-menu ul li ul li a:hover, .m-menu ul li ul li:hover > a, .m-menu .current-menu-item > a, .m-menu .current-menu-parent > a, .m-menu .current-menu-ancestor > a, .widget_pages .current_page_item > a, .widget_pages .current_page_parent > a, .widget_pages .current_page_ancestor > a, .portfolio-items article h3 a:hover, .filter-wrapper ul li a.active {

	color:#A252B1

}

.primary-border-color, .button.button-primary, button.button-primary, input[type="submit"], button[type="submit"], input:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, select:focus, select:active, .widget_calendar #wp-calendar #today, #header, #footer-wrapper, #open-this-info-text, #top-nav.m-menu ul ul, .m-menu .play-me > *, #header.header-menustyle-one-line .m-menu .play-me, #header.header-menustyle-double .m-menu ul.menu > li:hover:before, #header.header-menustyle-double .m-menu ul.menu > li.current-menu-item:before, #header.header-menustyle-double .m-menu ul.menu > li.current-menu-ancestor:before, #header.header-menustyle-double .m-menu ul.menu > li.current_page_item:before, #header.header-menustyle-double .m-menu ul.menu > li.current_page_ancestor:before, #top-nav.m-menu ul li ul li a:hover, #topbar-menu-nav .menu li ul li a:hover, #mobile-menu-nav-wrapper:hover, #mobile-menu-nav-wrapper:active, .portfolio-items > article:hover > div, .portfolio-items > article > div:before, .mds-portfolio-carousel li article:hover > div, .mds-portfolio-carousel li article > div:before, .mds-pricing-table .pt-column.pt-featured-col, .mds-dropcap.style-outline-dropcap-primary {

	border-color:#A252B1

}

.primary-boxshadow-color, input:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, select:focus, select:active, #mobile-menu-nav-wrapper:hover, #mobile-menu-nav-wrapper:active {

	box-shadow:0 0 5px #A252B1;

	-moz-box-shadow:0 0 5px #A252B1;

	-o-box-shadow:0 0 5px #A252B1;

	-webkit-box-shadow:0 0 5px #A252B1

}