/*---------------------------------------------------------------------------------------------*
 * LAYOUT v1.0
 *
 * Column layout
 *
 * Copyright 2012 Yeahthemes.com
 * Designed and built by Yeahthemes
 *---------------------------------------------------------------------------------------------*/

body {
    -webkit-text-size-adjust: 100%;
 /* Stops Mobile Safari from auto-adjusting font-sizes */
    direction: ltr;
}

#wrap-all {
    width: 100%;
	/*overflow:hidden;*/
}

.full-width-wrapper {
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.container {
    width: 960px;
    margin: 0 auto;
    clear: both;
    position: relative;
}

.one.column,.columns,.special-columns {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    float: left;
    position: relative;
    /*z-index: 1;*/
}
.content-builder .one.column,.content-builder .columns,.content-builder .special-columns{
	min-height:1px;
}

.non-relative {
    position: static !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-margin-left-right {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.margin-bottom {
    margin-bottom: 30px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-top {
    margin-top: 30px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-left {
    margin-left: 30px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-right {
    margin-right: 30px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.table {
    display: table;
}

.column.alpha,.columns.alpha {
    margin-left: 0;
}

.column.omega,.columns.omega {
    margin-right: 0;
}

.one.columns,
.one.column {
    width: 50px;
}

.two.columns {
    width: 130px;
}

.three.columns {
    width: 210px;
}

.four.columns {
    width: 290px;
}

.five.columns {
    width: 370px;
}

.six.columns {
    width: 450px;
}

.seven.columns {
    width: 530px;
}

.eight.columns {
    width: 610px;
}

.nine.columns {
    width: 690px;
}

.ten.columns {
    width: 770px;
}

.eleven.columns {
    width: 850px;
}

.twelve.columns {
    width: 930px;
}

.special-columns.column-one-fifth {
    width: 162px;
}

.special-columns.column-two-fifth {
    width: 354px;
}

.special-columns.column-three-fifth {
    width: 546px;
}

.special-columns.column-four-fifth {
    width: 738px;
}

.fullwidth,.full-width {
    width: 100%;
    margin-bottom: 30px;
    display: block !important;
    position: relative !important;
}

.one-half,.one-third,.one-fourth,.one-fifth,.one-sixth,.two-third,.two-fourth,.two-fifth,.two-sixth,.three-fourth,.three-fifth,.three-sixth,.four-fifth,.four-sixth,.five-sixth {
    margin-bottom: 30px;
    float: left;
    margin-left: 3.5%;
    display: block !important;
    position: relative !important;
	min-height:1px;
	/*overflow:hidden;*/
	/*background:#FFF*/
}

.one-half,
.two-fourth,
.three-sixth {
    width: 48.25%;
}

.ie .one-half,.ie .two-fourth,.ie .three-sixth {
    width: 48.2%;
}

.one-third,.two-sixth {
    width: 31%;
}

.one-fourth {
    width: 22.35%;
}

.ie .one-fourth {
    width: 22.3%;
}

.one-fifth {
    width: 17.2%;
}

.ie .one-fifth {
    width: 17%;
}

.one-sixth {
    width: 13.7%;
}

.ie .one-sixth {
    width: 13.5%;
}

.two-third,.four-sixth {
    width: 65.5%;
}

.ie .two-third,.ie .four-sixth {
    width: 60.2%;
}

.two-fifth {
    width: 37.8%;
}

.ie .two-fifth {
    width: 37.5%;
}

.three-fourth {
    width: 74.05%;
}

.ie .three-fourth {
    width: 74%;
}

.three-fifth {
    width: 58.6%;
}

.ie .three-fifth {
    width: 58.5%;
}

.four-fifth {
    width: 79.2%;
}

.ie .four-fifth {
    width: 79.1%;
}

.five-sixth {
    width: 82.5%;
}

.ie .five-sixth {
    width: 82%;
}

.screen-large-display,
.screen-tablet-portrait,
.screen-mobile-landscape,
.screen-mobile-portrait {
    display: none;
}


.screen-default {
    display: inherit;
}
