/*---------------------------------------------------------------------------------------------*
 * RESPONSIVENESS BASE FOR MULTIPLE SCREENS v1.0
 *
 * Column layout: 12, Support: Tablet Portrait, Mobile Landscape, Mobile Portrait
 *
 * Copyright 2012 Yeahthemes.com
 * Designed and built by Yeahthemes
 *---------------------------------------------------------------------------------------------*/

/* Tablet Portrait
/* Columns: 12
-------------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#wrap-all.box-layout{
		width:750px;
	}
	.container{			width:720px}
	.one.columns,
	.one.column{		width:30px;}
	.two.columns{		width:90px;}
	.three.columns{		width:150px;}
	.four.columns{		width:210px;}
	.five.columns{		width:270px;}
	.six.columns{		width:330px;}
	.seven.columns{		width:390px;}
	.eight.columns{		width:450px;}
	.nine.columns{		width:510px;}
	.ten.columns{		width:570px;}
	.eleven.columns{	width:630px;}
	.twelve.columns{	width:690px;}
	
	.special-columns.column-one-fifth {width:114px}
	.special-columns.column-two-fifth {width:258px}
	.special-columns.column-three-fifth {width:402px}
	.special-columns.column-four-fifth {width:546px}
	
	.screen-large-display, .screen-default, .screen-mobile-landscape, .screen-mobile-portrait{ display:none;}
	.screen-tablet-portrait{ display:inherit;}

}
/* #Mobile Landscape
-------------------------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#wrap-all.box-layout, .container{			width:480px;}
	.one.columns,.one.column,.two.columns,.three.columns,.four.columns,.five.columns,.six.columns,
	.seven.columns,.eight.columns,.nine.columns,.ten.columns,.eleven.columns,.twelve.columns,.special-columns.column-one-fifth, .special-columns.column-two-fifth, .special-columns.column-three-fifth, .special-columns.column-four-fifth{	width:450px;}
	.one-half,.one-third,.one-fourth,.one-fifth,.one-sixth,.two-third,.two-fourth,.two-fifth,.two-sixth,.three-fourth,.three-fifth,.three-sixth,.four-fifth,.four-sixth,.five-sixth{
		float:none;
		margin-left:0 !important;
		margin-right:0 !important;
		width:100%
	}
	.screen-large-display, .screen-default, .screen-tablet-portrait, .screen-mobile-portrait{ display:none;}
	.screen-mobile-landscape{ display:inherit;}
}

/* #Mobile Portrait
-------------------------------------------------------------------------------*/
@media only screen and (max-width: 479px) {
	#wrap-all.box-layout, .container{width:320px;}
	.one.columns,.one.column,.two.columns,.three.columns,.four.columns,.five.columns,.six.columns,
	.seven.columns,.eight.columns,.nine.columns,.ten.columns,.eleven.columns,.twelve.columns,.special-columns.column-one-fifth, .special-columns.column-two-fifth, .special-columns.column-three-fifth, .special-columns.column-four-fifth{	width:290px;}
	.column.alpha,.columns.alpha,.column.omega,.columns.omega{margin-left: 0;margin-right: 0;}
	.one-half,.one-third,.one-fourth,.one-fifth,.one-sixth,.two-third,.two-fourth,.two-fifth,.two-sixth,.three-fourth,.three-fifth,.three-sixth,.four-fifth,.four-sixth,.five-sixth{
		float:none;
		margin-left:0 !important;
		margin-right:0 !important;
		width:100%
	}
	.screen-large-display, .screen-default, .screen-tablet-portrait, .screen-mobile-landscape{ display:none;}
	.screen-mobile-portrait{ display:inherit;}
}